*
  margin 0
  padding 0
  position relative
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

p, .p, ul, ol, hr, table, form, pre, h1, h2
  margin-bottom 30px
  margin-bottom 1.5rem

h1
  font-size 60px
  font-size 3rem
  font-weight 700
  line-height 1

h2
  font-size 30px
  font-size 1.5rem
  font-weight 400
  line-height 2

h3
  font-size 20px
  font-size 1rem
  font-weight 700

hr
  border none
  border-bottom 1px solid rgba(0,0,0,.1)
  margin-top -1px

html
  font 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif

.container
  max-width 960px
  margin 0 auto
  padding 0 30px
  padding 0 1.5rem

.grid
  margin-left -3%
  max-width 105%

.unit
  display inline-block
  *display inline
  *zoom 1
  vertical-align top
  margin-left 3%
  margin-right -.25em
  overflow hidden
  *overflow visible

.span-grid
  width: 97%

.bar
  background-color black
  color white
  font-weight bold
  padding-left 20px
  padding-top 10px
  padding-bottom 10px

#body
  text-align center
  padding-top 10px

#start
  background-color #5fcc60
  color #225920
  padding 20px 20px
  -moz-border-radius 10px 10px 10px 10px
  border-radius 10px 10px 10px 10px
  border #225920 3px solid

.clearfix
  display inline-block
  *display inline
  *zoom: 1
  vertical-align top
  overflow hidden
  *overflow visible

.spacer
  width 100%
  height 1px;
